@import '@/assets/styles/colors';

.article-preview {
  height: 100vh;
  background-color: $light-grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1440px) {
  .article-preview {
    margin-top: -1.2rem;
  }
}
