.demo {
  max-width: 1440px;
  margin: 4rem auto 0;

  .target {
    cursor: pointer;
    position: relative;

    &-content {
      color: #000;
      border: 1px solid #000;
    }
  }

  .popover {
    width: max-content;
    position: absolute;

    &-content {
      padding: 0.5rem 1rem;
      background-color: black;
      color: white;
    }

    &-arrow {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #000;
    }
  }
}
