@import '@/assets/styles/colors';

.article-author {
  display: grid;
  grid-template-columns: 3.5rem auto 2rem;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: $white;

  .details {
    font-size: 0.813rem;
    line-height: 1.25rem;

    .name {
      font-weight: 700;
      color: $very-dark-grayish-blue;
    }

    .published {
      font-weight: 500;
      color: $grayish-blue;
    }
  }
}

@media (max-width: 1439px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1440px) {
  .mobile {
    display: none;
  }
}
