@import '@/assets/styles/colors';

$horizontal-padding: 2rem;
$transition-interval: 0.2s;
$transition-easing: ease-in-out;
$footer-height: 4rem;

@mixin footer-content {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
}

.article-footer {
  background-color: $white;
  display: flex;
  height: $footer-height;

  .normal {
    @include footer-content;

    padding: 0 $horizontal-padding;
    align-self: start;
  }

  .alt {
    @include footer-content;

    transform: translateY($footer-height);
    opacity: 0;
    transition: all $transition-interval $transition-easing;
  }
}

@media (max-width: 1439px) {
  .article-footer {
    &:hover {
      cursor: pointer;

      .alt {
        transform: translateY(0);
        opacity: 1;
        transition: all $transition-interval $transition-easing;
      }
    }
  }
}

@media (min-width: 1440px) {
  .article-footer {
    .alt {
      display: none;
    }

    .normal {
      position: relative;
    }
  }
}
