@import '@/assets/styles/colors';
@import '@/assets/styles/animations';

.article {
  position: relative;
  display: grid;
  grid-template-rows: 12.5rem auto;
  width: 20.438rem;
  height: 32rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem hsl(1deg 10% 17% / 10%);
  overflow: hidden;
  animation: fade-in 0.2s;

  // HACK: Safari doesn't honour the `overflow: hidden` property when transitioning in the share footer.
  will-change: transform;

  .layout {
    display: grid;
    grid-template-rows: auto 4.5rem;
  }
}

@media (min-width: 1440px) {
  .article {
    grid-template-columns: 289px auto;
    width: 45.625rem;
    height: 17.5rem;
  }
}
