.article-header {
  height: 12.5rem;
  width: 100%;
  overflow: hidden;

  img {
    margin-top: -1rem;
  }
}

@media (min-width: 1440px) {
  .article-header {
    height: 285px;

    img {
      margin-top: 0;
      height: 285px;
      object-fit: cover;
      object-position: left;
    }
  }
}
