.article-header {
  height: 12.5rem;
  width: 100%;
  overflow: hidden;

  .article-header-img {
    margin-top: -1rem;
  }
}

@media (min-width: 1440px) {
  .article-header {
    height: 17.813rem;
    position: relative;

    .article-header-img {
      position: absolute;
      margin-top: 0;
      height: 17.5rem;
      object-fit: cover;
      object-position: 0% 50%;
      width: auto;
    }
  }
}
