@import '@/assets/styles/colors';

.article-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  background-color: $light-grayish-blue;
  outline: none;
}

.article-share-button-img {
  width: 0.938rem;
  height: 0.813rem;
}

@media (min-width: 1440px) {
  .article-share-button {
    &:hover {
      cursor: pointer;
      background-color: #6e8098;

      .article-share-button-img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
